<h2><%= @question.new_record? ? "Create": "Edit" %> Question</h2>
<div class="well">
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@question.errors.count, "error") %> 
        prohibited this question from being saved:
      </h2>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#editor" aria-controls="editor" role="tab" data-toggle="tab">Editor</a>
        </li>
        <li role="presentation">
          <a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Preview</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="editor">
          <div class="well">
            <%= form_for @question do |f| %>
              <%= f.label :name do %>
                Titulo:
              <% end %>
              <h3>
               <%= f.text_field(:name, class: "text-field") %> 
              </h3>
              <div>
                <%= f.text_area(:description, cols: 60, rows: 3, id: "en-form")  %>
              </div>
            <div>
              <p>This text editor supports markdown</p>
            </div>
            <div>
              <%= f.submit @question.new_record? ? "Create Question": "Edit Question", class: "btn btn-primary" %>
            </div>
          <% end %>
          </div> 
        </div>
        <div role="tabpanel" class="tab-pane" id="preview">
          <div class="well">
          <p id="text-preview">
            <%= render :html => raw(@markdown.render("aqui va")) %>
            <%= link_to "Preview", questions_preview_path, id: "send-preview" %>
          </p>
          </div>
        </div>
      </div>
</div>