<h2><%= @question.new_record? ? "Create": "Edit" %> Question</h2>
<div class="well">
  <!-- Nav tabs -->
  <%= form_for @question, remote: true, class: "comment-form" do |f| %>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#editor" aria-controls="editor" role="tab" data-toggle="tab" class="qs-editor">Editor</a>
      </li>
      <li>
        <a href="#preview" aria-controls="preview" role="tab" data-toggle="tab" class="qs-preview">Preview</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="editor">
        <div class="well">
          <%= f.label :name do %>
            Titulo:
          <% end %>
          <h3>
           <%= f.text_field(:name, class: "text-field") %> 
          </h3>
          <div>
            <%= f.text_area(:description, cols: 60, rows: 3, class: "qs-form")  %>
          </div>
          <div class="qs-messages">
            <p>This text editor supports markdown</p>
          </div>
          <div>
            <%= f.submit @question.new_record? ? "Create Question": "Edit Question", class: "btn btn-primary" %>
          </div>
        </div> 
      </div>
      <div role="tabpanel" class="tab-pane" id="preview">
        <div class="well">
          <h3 class="qs-title-preview turquesa"></h3>
          <div class="qs-text-preview">
          </div>
        </div>
      </div>
  </div>
  <% end %>
</div>