
<div class="container">
  <!-- Question -->
  <div class="row">
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-1">
      <%= render :partial => "questions/votesQA", :locals => {:delete_vote => question_vote_path(@question, @question.votes), :create_vote => question_votes_path(@question), :qa => @question} %>
    </div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-11">
      <h3 class="turquesa"><%= @question.name  %></h3>
      <div class="gray">
         <%= render :html => raw(@markdown.render(@question.description)) %>
         <p class="asked"> Asked: <%= @question.user.email %> <%= time_ago_in_words(@question.created_at) %> ago</p>
      </div>
      <div class="container">
          <% if @question.comments.any? %>
            <% @question.comments.each do |comment| %>
              <div class="comment">
                <%= render :html => raw(@markdown.render(comment.description)) %>
                <p class="asked"> Commented: <%= comment.user.email %> <%= time_ago_in_words(comment.created_at) %> ago </p>
              </div>
      
            <% end %>
          <% end %>
      </div>
    
    <div>
    <!-- Crear un comentario a la question -->
      <% if @comment && @comment.c_duty_type == "Question" %>
        <% if @comment.errors.any? %>    
          <div id="error_explanation">
            <h2>
              <%= pluralize(@comment.errors.count, "error") %> 
              prohibited this comment from being saved:
            </h2>
            <ul>
              <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
      <div class="container">
        <%= render :partial => "questions/markdownEditor", :locals => {:type_name => "Comment for this question", :type => "new#{@question.id}", :type_obj => @question, :type_obj_new => @question.comments.new, :link => "link"} %>
      </div>
    </div>
    </div>
  </div>
  
  <!-- Answers -->
    <h4 class="turquesa"><%= pluralize(@question.answers.size, 'Answer') %></h4>
      <ul>        
        <!-- Muestra todas las answers asociadas a una question  -->
        <% @question.answers.each do |answer| %>
          <!-- <div class="row"> -->
          <li class="answer row">
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-1">
            <%= render :partial => "questions/votesQA", :locals => {:delete_vote => answer_vote_path(answer, answer.votes), :create_vote => answer_votes_path(answer), :qa => answer}  %>
            </div>
            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-11">            
              <div class="gray">
                <%= render :html => raw(@markdown.render(answer.description)) %>
                <p class="asked">Answered: <%= answer.user.email %> <%= time_ago_in_words(answer.created_at)%> ago</p>
              </div>
              <div>
                <!-- Muestra los comentarios de las answers -->
                <div class="container">
                    <% if answer.comments.any?   %>
                      <% answer.comments.each do |comment| %>
                        <div class="comment">
                          <%= render :html => raw(@markdown.render(comment.description)) %>
                          <p class="asked"> Commented: <%= comment.user.email %> <%= time_ago_in_words(comment.created_at)%> ago</p>
                        </div>
                      <% end %>
                    <% end %>
                </div>
              </div>
            <!-- Boton para crear comentario a una answer  -->
            <div>
              <% if @comment && @comment.c_duty_type == "Answer" %>
                <% if @answer.id == answer.id %>
                  <% if @comment.errors.any? %>    
                    <div id="error_explanation">
                      <h2>
                        <%= pluralize(@comment.errors.count, "error") %> 
                        prohibited this comment from being saved:
                      </h2>
                      <ul>
                        <% @comment.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <%= render :partial => "questions/markdownEditor", :locals => {:type_name => "Comment", :type => "new#{answer.id}", :type_obj => answer, :type_obj_new => answer.comments.new, :link => "link" } %>
            </div>
          </li>
          <!-- </div> -->
        <% end %>
      </ul>
  
  <!-- Create your answer -->
  <h4 class="turquesa">Enter your Answer</h4>
  <!-- validacion al crear answer -->
      <% if @answer %>
        <% if @answer.errors.any? %>    
          <div id="error_explanation">
            <h2>
              <%= pluralize(@answer.errors.count, "error") %> 
              prohibited this answer from being saved:
            </h2>
            <ul>
              <% @answer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
      <%= render :partial => "questions/markdownEditor", :locals => {:type_name => "Answer", :type => "Answer", :type_obj => @question, :type_obj_new => @question.answers.new, :link => "btn-lg big-button" } %>
  </div>
