
<div class="container">
  <!-- Question -->
  <div class="row">
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-1">
      <%= render :partial => "votesQA", :locals => {:delete_vote => question_vote_path(@question, @question.votes), :create_vote => question_votes_path(@question), :qa => @question} %>
    </div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-11">
      <h3 class="turquesa"><%= @question.name  %></h3>
      <p>
        <%= render :html => raw(@markdown.render(@question.description)) %>
      </p>
      <p class="asked">Asked: <%= @question.user.email %> ago</p>
      <div class="container">
        <p>
          <% if @question.comments.any?   %>
            <% @question.comments.each do |comment| %>
              <p><%= render :html => raw(@markdown.render(comment.description)) %></p>
              <p class="asked">Commented: <%= comment.user.email %> ago</p>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
    <div>
      <%= render :partial => "markdownEditor", :locals => {:type_name => "Comment", :type => "new#{@question.id}", :type_obj => @question, :type_obj_new => @question.comments.new } %>
    </div>
  </div>
  
  <!-- Answers -->
    <h4 class="turquesa"><%= pluralize(@question.answers.size, 'Answer') %></h4>
      <ul>
        
          <% @question.answers.each do |answer| %>
          <li class="answer row">
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-1">
            <%= render :partial => "votesQA", :locals => {:delete_vote => answer_vote_path(answer, answer.votes), :create_vote => answer_votes_path(answer), :qa => answer}  %>
            </div>
            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-11">            
              <p><%= render :html => raw(@markdown.render(answer.description)) %></p>
              <p class="asked">Answered: <%= answer.user.email %> ago</p>
            <div>
            <div class="container">
                <% if answer.comments.any?   %>
                  <% answer.comments.each do |comment| %>
                    <p><%= render :html => raw(@markdown.render(comment.description)) %></p>
                    <p class="asked"> Commented: <%= comment.user.email %> ago</p>
                  <% end %>
                <% end %>
            </div>
                  
            </div>
            <div>
              <%= render :partial => "markdownEditor", :locals => {:type_name => "Comment", :type => "new#{answer.id}", :type_obj => answer, :type_obj_new => answer.comments.new } %>
            </div>
            
          </li>
          <% end %>
        
          
      </ul>
  
  <!-- Create your answer -->
  <h4 class="turquesa">Enter your Answer</h4>
      <%= render :partial => "markdownEditor", :locals => {:type_name => "Answer", :type => "Answer", :type_obj => @question, :type_obj_new => @question.answers.new } %>
  </div>
