
<div class="container">
  <!-- Question -->
  <div class="row">
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-1">
      <%= render :partial => "votesQA", :locals => {:delete_vote => question_vote_path(@question, @question.votes), :create_vote => question_votes_path(@question), :qa => @question} %>
    </div>
    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-11">
      <h3 class="turquesa"><%= @question.name  %></h3>
      <p>
        <%= render :html => raw(@markdown.render(@question.description)) %>
      </p>
      <p class="asked">Asked: <%= @question.user.email %> ago</p>
    </div>
  </div>
  
  <!-- Answers -->
    <h4 class="turquesa"><%= pluralize(@question.answers.size, 'Answer') %></h4>
      <ul>
        <% @answers = @question.answers %>
        <li class="answer row">
          <% @question.answers.each do |answer| %>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-1">
            <%= render :partial => "votesQA", :locals => {:delete_vote => answer_vote_path(answer, answer.votes), :create_vote => answer_votes_path(answer), :qa => answer}  %>
            </div>
            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-11">            
              <%= render :html => raw(@markdown.render(answer.description)) %>
              <p class="asked">Answered: <%= answer.user.email %> ago</p>
            </div>
          <% end %>
        </li>
          
      </ul>
  
  <!-- Create your answer -->
  <div class="row">
    <% if user_signed_in? %>
      <h4 class="turquesa">Enter your answer</h4>
      <button id="create-answer" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Create Answer
      </button>
      <div class="collapse" id="collapseExample">
        <div class="well">
          <%= form_for [@question, @question.answers.new] do |f| %>
            <div>
              <%= md_simple_editor  do %>
                <%= f.text_area(:description, cols: 60, rows: 3)  %>
              <% end %>
            </div> 
            <div><%= f.submit "Send Answer", class: "btn btn-primary" %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
    
  </div>