<!DOCTYPE html>
<html>
  <head>
    <title>FlowOverStack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-static-top navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= questions_path  %>"><strong><span class="flow">Flow</span><span class="over">Over</span><span class="stack">Stack</span></strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Gastos<span class="sr-only">(current)</span></a></li> -->
            <% if user_signed_in? %>
              <li> <p>Hola <%=  current_user.email %></p></li>
              <li> <%= link_to("Log Out", destroy_user_session_path, method: :delete) %></li>
              <li> <%= link_to("Questions", questions_path) %></li>
            <% else %>
              <li> <%= link_to("Log In", new_user_session_path, method: :get) %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

<div id="wrap">
  <div id="main" class="container clear-top">
    <!-- <p>Your content here</p> -->
    <% flash.each do |name, msg| %>
      <!-- # New code (allow for flash elements to be arrays) -->
      <% if msg.class == Array %>
        <% msg.each do |message| %>
          <div id="error_explanation">
          <%= content_tag :div, message, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% else %>
      <div id="error_explanation">
        <%= content_tag :div, msg, :id => "flash_#{name} error_explanation" %>
      </div>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</div>
    
    <!-- <footer> -->
<!--       <div class="navbar navbar-inverse">

      </div> -->
<!--       <footer>
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer> -->
    <!-- </footer> -->

<footer class="footer">
<nav class="navbar navbar-inverse">
  <div class="container ">
    <div class='center'>
      <p><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span></p>
      <p>© 2017 Meli, Inc. </p>
    </div>
  </div>
</nav>
</footer>
  
</body>
</html>
